<!DOCTYPE html>
<html lang="en">
  <img class="background-image" src="Images/Site Background 1.jpg" alt="">
<head>
  <meta charset="UTF-8" name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/fonts.css">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="/CSS/home.css">
  <link rel="stylesheet" href="/CSS/about.css">
  <link rel="stylesheet" href="/CSS/merch.css">
  <link rel="stylesheet" href="/CSS/events.css">
  <link rel="stylesheet" href="/CSS/contact.css">
  <title>Ossia Sounds</title>
</head>

<body>
  <header>
    <div class="navbar-container">
      <div class="navbar-color"></div>
      <div class="brand-container">
        <img src="/Images/Ossia Logo (White).png" alt="Ossia Logo">
        <h1 class="brand-name">OSSIA SOUNDS</h1>
      </div>
      <div class="cart-container">
        <button aria-controls="navbar" aria-expanded="false" class="mobile-navbar-toggle"></button>
        <div class="cart-options" data-visible="false">
          <div href="">Your Basket</div>
          <div href="">Items</div>
          <div href="">Total</div>
          <div href="">Checkout</div>
        </div>
        <div class="menu-options" data-visible="false">
          <a href="/">Home</a>
          <a href="/events">Events</a>
          <a href="/merch">Merch</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
        <svg aria-controls="cart" aria-expanded="false" class="mobile-cart-toggle"
         xmlns="http://www.w3.org/2000/svg" width="22.5" height="22.5" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
        </svg>
      </div>
    </div>
  </header>