<!DOCTYPE html>
<html lang="en">
  <img class="background-image" src="Images/Site Background 1.jpg" alt="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/fonts.css">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="/CSS/home.css">
  <title>Ossia Sounds</title>
</head>

<body>
  <header>
    <div class="navbar-container">
      <div class="brand-container">
        <img src="/Images/Ossia Logo (White).png" alt="Ossia Logo">
        <h1 class="brand-name">OSSIA SOUNDS</h1>
      </div>
      <button aria-controls="navbar" aria-expanded="false" class="mobile-navbar-toggle"></button>
      <div class="menu-options" data-visible="false">
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </header>