<%- include("partials/header") %>

  <div class="content-border">
    <div class="about-page">
      <h1 class="page-title">ABOUT US</h1>
      <div>
        <p>Immersive experiences that go beyond just the music, cutting-edge visuals and lighting to enhance the
          atmosphere, and intimate venues that allow attendees to truly connect with the music and the artists.</p>
      </div>
      <div class="about-info">
        <div class="about-card">
          <div class="info">
            <h2>Company</h2>
            <p>Ossia Sounds is an electronic music events company based in London. We are dedicated to crafting
              immersive
              and unforgettable experiences that showcase the best of the City's vibrant house, techno, and disco
              music
              scene.
              <br><br>
              Our focus on creating captivating multi-sensory environments goes beyond just the music - we
              incorporate
              our
              experience with cutting-edge visual and lighting technologies to transport audiences to new heights of
              sensory
              experience.
              <br><br>
              Our selection of unique and intimate venues help enable electronic music fans to truly connect with
              the
              artists and DJs, creating a sense of community and shared passion that defines The Sound of London.
            </p>
          </div>
          <img src="Images/event images/OS001.jpg" alt="">
        </div>
        <div class="about-card two">
          <img src="Images/event images/OS002.jpg" alt="">
          <div class="info">
            <h2>Mission</h2>
            <p>Our mission at OSSIA is to bring together talented artists and passionate fans in an immersive and
              engaging
              live music experience. We strive to showcase the best in electronic music talent, both local and
              international, whilst creating a welcoming and inclusive atmosphere for all attendees.
              <br><br>
              We believe that music has the power to bring people together and to inspire. Our events are designed
              to
              foster
              a sense of community and connection and to provide a platform for artists to share their vision with
              the
              world.
              <br><br>
              We are dedicated to pushing the boundaries of electronic music and to constantly evolving and
              innovating
              in
              order to provide the best possible experience for our attendees. Our goal is to create a space where
              music
              and
              culture can thrive, and where attendees can discover new sounds and experiences.
            </p>
          </div>
        </div>
        <div class="about-card">
          <div class="info">
            <h2>Vision</h2>
            <p>Our vision of OSSIA is to be the premier destination for live electronic music experiences. We aim to
              bring
              together the most talented electronic music artists and fans from around the world, and to create a
              space
              where music and culture can flourish.
              <br><br>
              We envision a future where our events are known for their unparalleled production value, cutting-edge
              music
              programming, and inclusive and welcoming atmosphere. We see ourselves as a driving force in the
              electronic
              music industry, always pushing the boundaries and leading the way in innovation and creativity.
              <br><br>
              Our ultimate goal is to create a global community of music lovers who are passionate about discovering
              and
              celebrating the best in electronic music - this may involve expansion into other segments of the music
              industry. We want to bring people together to share in the magic of live music, and to help shape the
              future
              of the electronic music scene in London and beyond.
            </p>
          </div>
          <img src="Images/event images/OS003.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- Continuing to footer for "subscribe-section" -->

    <%- include("partials/footer") %>