<%- include("partials/header") %>

  <div class="content-border">
    <div class="events-page">
      <h1 class="page-title">EVENTS</h1>
      <div class="events-grid">
        <a class="card" href="https://ra.co/events/1889042">
          <div class="card-tag event03">Event</div>
          <img src="Images/event images/OS003.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS003</strong> - Stereoclip, Maur, Mia Aurora</div>
          <div class="card-date">11.05.24 <span style="font-weight: 500;" >(ENDED)</span></div>
        </a>
        <a class="card" href="https://ra.co/events/1707871">
          <div class="card-tag event02">Event</div>
          <img src="Images/event images/OS002.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS002</strong> - Icarus, Bound to Divide, Yeadon</div>
          <div class="card-date">29.07.23 <span style="font-weight: 500;" >(ENDED)</span></div>
        </a>
        <a class="card" href="https://ra.co/events/1647368">
          <div class="card-tag event01">Event</div>
          <img src="Images/event images/OS001.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS001</strong> - Cristoph, Braxton, My Friend</div>
          <div class="card-date">08.04.23 <span style="font-weight: 500;" >(ENDED)</span></div>
        </div>
      </a>
    </div>
  <!-- </div> -->
  <!-- Continuing to footer for "subscribe-section" -->

  <%- include("partials/footer") %>