<%- include("partials/header") %>

  <div class="content-border">
    <div class="events-page">
      <h1 class="page-title">EVENTS</h1>
      <div class="events-grid">
        <div class="card">
          <div class="card-tag">Event</div>
          <img src="Images/event images/OS003.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS003</strong> - Stereoclip, + Special Guest TBA</div>
          <div class="card-date">11.05.24</div>
        </div>
        <div class="card">
          <div class="card-tag">Event</div>
          <img src="Images/event images/OS002.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS002</strong> - Icarus, Bound to Divide, Yeadon</div>
          <div class="card-date">29.07.23</div>
        </div>
        <div class="card">
          <div class="card-tag">Event</div>
          <img src="Images/event images/OS001.jpg" class="card-image"></img>
          <div class="card-info"> <strong>OS001</strong> - Cristoph, Braxton, My Friend</div>
          <div class="card-date">08.04.23</div>
        </div>
      </div>
    </div>
    <div class="subscribe-section">
      <p>Subscribe to stay in the loop</p>
      <div class="input-box">
        <input class="card-one" type="text" placeholder="Name"></input>
        <input class="card-two" type="text" placeholder="Email"></input>
        <button class="card-three">Join Now</button>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>