<%- include("partials/header") %>

  <div class="content-border">
    <div class="home-page">
      <div>
        <h1>OSSIA</h1>
        <h2>The Sound of London</h2>
      </div>
      <div class="event-announcement">
        - OS003 TBA -
      </div>
      <a href="/events" class="action-button">
        <span class="text">
          Events
        </span>
        <span>
          ▶︎
        </span>
      </a>
    </div>
    <div class="subscribe-section">
      <p>Subscribe to stay in the loop</p>
      <div class="input-box">
        <input class="card-one" type="text" placeholder="Name"></input>
        <input class="card-two" type="text" placeholder="Email"></input>
        <button class="card-three">Join Now</button>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>