<%- include("partials/header") %>

  <div class="content-border">
    <div class="home-page">
      <h1>OSSIA</h1>
      <h2>The Sound of London</h2>
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <div class="socials">
        <img src="../images/instagram.svg" alt="Instagram Logo">
        <img src="../images/tiktok.svg" alt="Tiktok Logo">
        <img src="../images/facebook.svg" alt="Facebook Logo">
        <img src="../images/spotify.svg" alt="Spotify Logo">
      </div>
      <p>
        © 2024 Ossia Sounds Limited (registered in England & Wales, company number 13809231). All righs reserved. Email:
        via contact form | Tel: 0333 7722 420 | Privacy Policy
      </p>
    </div>
  </footer>

  <script src="index.js"></script>
  </body>

  </html>