<%- include("partials/header") %>

  <div class="content-border">
    <div class="home-page">
      <div>
        <h1>OSSIA</h1>
        <h2>The Sound of London</h2>
      </div>
      <div class="event-announcement">
        Next Event TBC
      </div>
      <a href="/events" class="action-button">
        <span class="text">
          Events
        </span>
        <span>
          ▶︎
        </span>
      </a>
    </div>
    <!-- </div> -->
    <!-- Continuing to footer for "subscribe-section" -->

    <%- include("partials/footer") %>