<%- include("partials/header") %>

  <div class="content-border">
    <div class="merch-page">
      <h1 class="page-title">MERCH</h1>
      <div>
        <p>Meticulous and unique designs, on high quality garments. Add some OSSIA merch to your collection and turn
          heads when you wear our unique abstract designs. Free shipping within the UK.</p>
      </div>
      <div class="tshirts-hoodies">
        <div class="card">
          <img src="Images/event images/OS003.jpg" class="card-image"></img>
          <div class="card-info"><strong>OS003 T-shirt</strong> - £25</div>
          <div class="basket-button">Add to basket</div>
        </div>
        <div class="card">
          <img src="Images/merch images/OS002 T-shirt Back.jpg" class="card-image"></img>
          <div class="card-info"><strong>OS002 T-shirt</strong> - £25</div>
          <div class="basket-button">Add to basket</div>
        </div>
        <div class="card">
          <img src="Images/merch images/OS001 T-shirt Back.jpg" class="card-image"></img>
          <div class="card-info"><strong>OS001 T-shirt</strong> - £25</div>
          <div class="basket-button">Add to basket</div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>