.merch-page>div p {
  padding: 0 1rem;
  text-align: center;
}

.tshirts-hoodies {
  display: flex;
  gap: 1rem;
}

.tshirts-hoodies .card {
  aspect-ratio: 1;
  width: 100%;
  text-align: center;
  flex: 1;
}

.tshirts-hoodies .card-info {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

.tshirts-hoodies .basket-button {
  background-color: white;
  color: black;
  font-size: 1rem;
  margin: 0.5rem auto;
  padding: 0.4rem;
  width: 7rem;
  border-radius: 5rem;
}
